<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <environments default="development">

    <!-- 개발환경 -->
    <environment id="development">
      <transactionManager type="JDBC" />

      <dataSource type="UNPOOLED">
        <!-- driver spy를 사용하지 않았을 때 -->
        <!-- <property name="driver" value="oracle.jdbc.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@db202204131245_high?TNS_ADMIN=C:/opt/OracleCloudWallet/ATP" /> -->

        <!-- driver spy를 사용할 때 -->
        <property name="driver" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy" />
        <property name="url" value="jdbc:log4jdbc:oracle:thin:@db202204131245_high?TNS_ADMIN=C:/opt/OracleCloudWallet/ATP" />

        <property name="username" value="ADMIN" />
        <property name="password" value="Oracle1234567" />

        <!-- <property name="defaultTransactionIsolationLevel" value="" /> -->
        <!-- <property name="defaultNetworkTimeout" value="1000" /> -->
        <property name="driver.encoding" value="utf8" />
      </dataSource>

    </environment>


    <!-- 실행환경 -->
    <environment id="production">
      <transactionManager type="JDBC" />

      <dataSource type="POOLED">
        <!-- <property name="driver" value="oracle.jdbc.OracleDriver"/> -->
        <!-- <property name="url" value="jdbc:oracle:thin:@db202204131245_high?TNS_ADMIN=C:/opt/OracleCloudWallet/ATP"/> -->

        <property name="driver" value="net.sf.log4jdbc.sql.jdbcapi.DriverSpy" />
        <property name="url" value="jdbc:log4jdbc:oracle:thin:@db202204131245_high?TNS_ADMIN=C:/opt/OracleCloudWallet/ATP" />

        <property name="username" value="ADMIN" />
        <property name="password" value="Oracle1234567" />

        <property name="poolMaximumActiveConnections" value="10" />
        <property name="poolMaximumIdleConnections" value="3" />
        <property name="poolTimeToWait" value="20000" />
        <property name="poolPingQuery" value="SELECT 1 FROM dual" />
        <property name="poolPingEnabled" value="true" />
        <property name="poolPingConnectionsNotUsedFor" value="60000" />

        <property name="driver.encoding" value="utf8" />
      </dataSource>
    </environment>

  </environments>

  <!-- 관리할 모든 SQL Mapper XML 파일 등록하기 -->
  <mappers>
    <mapper resource="BoardMapper.xml" />
    <mapper resource="CustomerMapper.xml" />
    <mapper resource="mappers/UserMapper.xml" />
    <!-- 
    <mapper class="org.zerock.myapp.mapper.BoardMapper" />
    <mapper class="org.zerock.myapp.mapper.UserMapper" />
    -->
    <package name="org.zerock.myapp.mapper" />
  </mappers>

</configuration>